/* -------------------------------------------------------------------------- */
/* -----| GENERAL |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.container {
    position: relative;
}


/* -------------------------------------------------------------------------- */
/* -----| SITE HEADER |------------------------------------------------------ */
/* -------------------------------------------------------------------------- */

.page-title {
    border-bottom: 1px dotted #DDD;
    font-size: 2em;
    margin-bottom: 30px;
    padding-bottom: 2px;
}


/* -------------------------------------------------------------------------- */
/* -----| IMAGES |----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.public-image-list {
    position: relative;
}

.manage-images-btn {
    position: absolute;
    top: 20px;
    right: 15px;
}

.image-img {
    margin: 0 0 15px;
}

.image-comment {
    word-wrap: break-word;
}

.panel {
    overflow: hidden;
}


/* -------------------------------------------------------------------------- */
/* -----| MANAGE IMAGES |---------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.image-wrapper .panel-heading {
    position: relative;
}

.image-wrapper .panel-heading h4 {
    margin-right: 100px;
}

.image-meta {
    position: absolute;
    right: 15px;
    top: 28px;
}

.image-public {
    border-radius: 2px;
    display: inline-block;
    float: left;
    font-size: .85em;
    margin-right: 5px;
    padding: 4px 6px;
    text-transform: uppercase;
}

.image-delete {
    border-radius: 2px;
    color: #707070;
    display: inline-block;
    float: left;
    line-height: .5em;
    padding: 5px;
}

.image-delete:hover {
    color: #900;
}

label.checkbox {
    background-color: #EEE;
    border-radius: 3px;
    cursor: pointer;
    font-weight: normal;
    margin: 0;
    padding: 6px 8px !important;
}

label.checkbox:hover {
    background-color: #DDD;
}

label.checkbox input[type="checkbox"] {
    margin: 0 5px 0 0;
    position: relative;
    top: 3px;
}


/* -------------------------------------------------------------------------- */
/* -----| PANELS |----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.panel-separator {
    border-bottom: 1px dotted #DDD;
    margin: 15px -15px;
}

.panel-body > .form-group {
    margin-bottom: 30px;
}

.panel-body > *:last-child {
    margin-bottom: 0;
}

.panel-body h5 {
    border-bottom: 1px dotted #DDD;
    color: #707070;
    font-size: .8em;
    margin: 0 0 10px;
    padding-bottom: 2px;
    text-transform: uppercase;
}


/* -------------------------------------------------------------------------- */
/* -----| SITE FOOTER |------------------------------------------------------ */
/* -------------------------------------------------------------------------- */

.site-footer {
    border-top: 1px solid #CCC;
    margin-top: 30px;
    padding: 30px 0;
    text-align: center;
}


/* -------------------------------------------------------------------------- */
/* -----| VALIDATION |------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.error-text {
    font-size: .85em;
    font-weight: normal;
    maring: 0;
    padding: 5px 0 0;
}
