/* -------------------------------------------------------------------------- */
/* -----| GENERAL |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.container {
    position: relative;
}


/* -------------------------------------------------------------------------- */
/* -----| SITE HEADER |------------------------------------------------------ */
/* -------------------------------------------------------------------------- */

.page-title {
    border-bottom: 1px dotted #DDD;
    font-size: 2em;
    margin-bottom: 30px;
    padding-bottom: 2px;
}


/* -------------------------------------------------------------------------- */
/* -----| STORIES |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.public-story-list {
    position: relative;
}

.manage-stories-btn {
    position: absolute;
    top: 20px;
    right: 15px;
}

.story-img {
    margin: 0 0 15px;
}


/* -------------------------------------------------------------------------- */
/* -----| MANAGE STORIES |--------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.story-wrapper .panel-heading {
    position: relative;
}

.story-wrapper .panel-heading h4 {
    margin-right: 64px;
}

.story-public {
    border-radius: 2px;
    font-size: .85em;
    padding: 3px 6px;
    position: absolute;
    right: 15px;
    text-transform: uppercase;
    top: 28px;
}

label.checkbox {
    background-color: #EEE;
    border-radius: 3px;
    cursor: pointer;
    font-weight: normal;
    margin: 0;
    padding: 6px 8px !important;
}

label.checkbox:hover {
    background-color: #DDD;
}

label.checkbox input[type="checkbox"] {
    margin: 0 5px 0 0;
    position: relative;
    top: 3px;
}


/* -------------------------------------------------------------------------- */
/* -----| PANELS |----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.panel-separator {
    border-bottom: 1px dotted #DDD;
    margin: 15px -15px;
}

.panel-body > .form-group {
    margin-bottom: 30px;
}

.panel-body > *:last-child {
    margin-bottom: 0;
}

.panel-body h5 {
    border-bottom: 1px dotted #DDD;
    color: #707070;
    font-size: .8em;
    margin: 0 0 10px;
    padding-bottom: 2px;
    text-transform: uppercase;
}


/* -------------------------------------------------------------------------- */
/* -----| SITE FOOTER |------------------------------------------------------ */
/* -------------------------------------------------------------------------- */

.site-footer {
    border-top: 1px solid #CCC;
    margin-top: 30px;
    padding: 30px 0;
    text-align: center;
}


/* -------------------------------------------------------------------------- */
/* -----| VALIDATION |------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.error-text {
    font-size: .85em;
    font-weight: normal;
    maring: 0;
    padding: 5px 0 0;
}
